.blogEntry {
    background-color: $white;
    @include defaultShadow();
    padding: 20px;
    margin: 0px 0px 40px 0px;
    .blogEntry--publishDate {
        text-align: right;
        margin-bottom: 20px;
    }
    .blogEntry--headline {
        font-size: $h3-font-size;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .blogEntry--summary {
        margin-bottom: 40px;
        min-height: 220px;
    }
}

@media only screen and (min-width: 992px) {
    .blogEntry {
        margin: 0px;
    }
}